body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

:root {
	--orange: #ff6b0a;
	--white: #fff;
	--black: #1b1d1f;
	--blue: #005bbb;
}

.main-page {
    width: 100%;
    background: linear-gradient(270deg, #a5deff 0%, #fcfefe 100%);
}

.main-page-text-container {
    border-radius: 40px;
    background: white;
    width: 573px;
    height: 476px;
    padding: 60px;
    box-sizing: border-box;
}

.wrapper {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
}

.main-page-hello-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: var(--black);
    margin-top: 0;
    margin-bottom: 60px;
}

.main-page-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 64px;
    line-height: 112%;
    color: var(--black);
    margin-top: 0;
    margin-bottom: 24px;
}

.main-page-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--black);
    margin-top: 0;
    margin-bottom: 32px;
}

.main-page-btn {
    font-family: "Montserrat", sans-serif;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--white);
    background: var(--orange);
    border-radius: 8px;
    padding: 12px 24px;
    width: 172px;
    height: 48px;
    box-sizing: border-box;
    transition: background-color 0.7s;

}
.main-page-btn:hover {
    background: #FF893B;

}
